@import "bourbon"
@import fonts.sass
@import vars.sass

body
	font-weight: normal
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.42857
	-webkit-font-smoothing: antialised
	margin: 0

h1,h2,h3,h4,h5,h6
	font-family: "OpenSansLight", sans-serif
	font-weight: normal

h1
	font-size: 41px
	line-height: 1.2

h2
	font-size: 32px

h3,h4
	font-family: "OpenSansSemiBold", sans-serif
	font-size: 15px

h4
	text-transform: uppercase
	font-size: 13px


.main_head
	min-height: 870px
	position: relative
	overflow: hidden


.head_menu
	font-family: "CircularStd-Medium", sans-serif
	margin: 0
	padding-top: 36px
	padding-left: 0
	li
		list-style-type: none
		display: inline-block
		margin-right: 40px
		&:last-child
			margin-right: 0
		a
			color: #fff
			text-decoration: none
			display: block
			padding: 15px 8px 11px;
	.active
		border: 3px solid #fff
		border-radius: 50px

ul.submenu 
	display: none
	position: absolute
	width: 120px
	top: 37px
	left: 0
	background-color: white

.lang
	margin: 0
	padding-left: 20px
	padding-top: 40px
	font-family: "CircularStd-Medium", sans-serif
	li
		list-style-type: none
		display: inline-block
		a
			display: block
			padding: 15px 8px 11px
			color: #fff
			text-decoration: none
		img 
			margin-right: 10px



.header_bg
	position: absolute
	min-height: 870px
	background: linear-gradient(to bottom, #8c82ff, #5bb4fe)
	width: 100%
	top: 0
	z-index: -1
	// display: flex
	.circle1
		width: 100px
		height: 100px
	.circle2
		width: 400px
		height: 400px
	.circle3
		width: 800px
		height: 800px
	.circle4
		width: 1200px
		height: 1200px
	.circle5
		width: 1600px
		height: 1600px
	&:after
		content: ""
		width: 100%
		height: 100%
		position: absolute
		top: 50%
		background: url("../img/header.png") center no-repeat



.circle_centered
	border-radius: 50%
	border: 1px solid #95aaff
	position: absolute
	top: 0 
	left: 0 
	bottom: 0 
	right: 0
	margin: auto

.circle_wrap
	position: absolute
	top: 50%
	left: 50%
	width: 1600px
	height: 1600px
	transform: translate(-50%,-50%)

.header_content
	min-height: 684px
	display: flex
	align-items: center
	.content_text_wrap
		color: #fff
		font-family: "BrandonGrotesque-Regular", sans-serif
		h1 
			font-family: "CircularStd-Medium", sans-serif
			.circular_book
				font-family: "CircularStd-Book", sans-serif
		p 
		font-size: 23px
		.button
			color: #fff
			font-family: "BrandonGrotesque-Medium", sans-serif
			font-size: 18px
		a 
			border-radius: 50px
			padding: 12px 12px
			border: 3px solid #fff
			text-decoration: none
	.content_img_wrap
		background: url("../img/mobiles.png") center no-repeat
		height: 505px




